@charset "utf-8";
/* CSS Document */

body {
    font-size:16px;
    line-height:1.4em;
}

h1 {
    font-family:'Poppins', sans-serif;
    font-weight:800;
    text-align:left;
    line-height:1.25;
    padding-top:1em;  
    font-size:2em;
}

h2 {
    line-height:1.25;
    font-size:1.75em;
    text-align:left;
    font-weight:normal;
    font-family:'Poppins', sans-serif;
    font-weight:800;
}

h3 {
    line-height:1.25;
    font-size:1.5em;
    text-align:left;
    font-weight:normal;
    font-family:'Poppins', sans-serif;
    font-weight:800;    
}

h4 {
    line-height:1;
    font-size:1.25em;
    font-weight:normal;
    font-family:'Poppins', sans-serif;
    font-weight:800;
    margin-top:0;
}

#turgy {
    width:100%;
    margin:auto;
}

.drama {
    width:100%;
}

.pic {
    width:100%;
    float:left;
}

.info {
    width:85%;
    float:left;
    padding:1em;
    margin:1em 0 2em;
}

html, body, #home, #about, #dramaturgy, #sound, #plays, #radio {
	height:auto;
	min-height: 100vh;
    width:100%;
    margin:0;
}

#contact {
	height:auto; 
    width:100%;
    margin:0;
}

#home, #about, #dramaturgy, #sound, #plays, #radio, #contact {padding:2.5em 0;width:100%;}

#mainNav {
  line-height:4em;
  position:fixed; 
  top: 0em; 
  width:100%; 
    background-color:white;
    font-size:.75em;
    text-transform:uppercase;
    border-bottom:1px solid #E3E1E0;    
}

#mainNav {
  a, a:link, a:visited, a:hover, a:active {
    color:#eee; 
    text-decoration:none;
    display:inline-block;
  }
  a:hover {color: #4861A2;}
}

#mainNav a {margin:0 .5em 0;text-decoration:none;border-bottom:1px solid #F2AE96;}
#mainNav a:hover {color:#F2AE96;border-bottom:0px;}

.tete {width:90%;margin:auto;}
.bigboi {width:100%;margin:auto;}
.lilbud {width:80%;margin:auto;}
.lilcaption {width:85%;margin:auto;font-size:.75em;text-transform:uppercase;margin-bottom:3em;line-height: 1.25;}
.espace {width:100%;margin:auto;height:1.5em;clear:both;}

.caption {font-size:.75em;text-transform:uppercase;margin-top:3em;line-height:1.25;}

#contact {background-color:#F2AE96;color:white;}
